.forminfo {
	font-size: 10px;
}

body {
	background-image: url("assets/bg.gif");
	margin: 0 auto;
	font-family: Tahoma;
	font-size: 14px;
}
#page {
	margin: 0 auto 0 auto;
	text-align: left;
}
	.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
		}
div.todo-info {
	line-height: 150%; text-align: left; position: relative; left: 2px; top: 4px;
}
img {
	border: 0px;
}
table#main-bottom-tbl tr td {
	color: #ffffff;
	border-left: 1px solid #4c8bab; 
	font-size: 13px;
	vertical-align: top;
	padding: 5px;
	
}
table#main-bottom-tbl tr td a {
	color: #ffffff;
	
}
table#main-bottom-tbl tr td h2 {
	font-size: 20px;
	text-align: center;	
	font-weight: normal;
}
table#main-foot-tbl td {
	color: #ffffff;
	font-size: 13px;
	vertical-align: top;
	padding: 3px;
}
table#main-foot-tbl td h3 {
	text-align: center;	
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 13px;
	text-align: left;
}
.h3 {
	font-size: 18px;
}
div#main-newsletter {
	margin-top: 8px;
	background-image: url('assets/main-mailing-bg.gif');
	width: 100%;
	height: 85px;
	border: 1px solid #a3cee0;
}
div#main-newsletter a {
	color: #ffffff;
	text-decoration: none;
}
div {
	text-align: left;
}
div#left-menu {
	line-height: 140%;
	font-size: 15px;
	padding-left: 12px;
	padding-right: 12px;
}
div#left-menu a, div#main-menu a {
	color: #002a40;
	border-bottom: 1px dotted #9dc7dd;
	text-decoration: none;
}
div#left-menu a:hover, div#main-menu a:hover {
	border-bottom: 1px solid #002a40;
}

div#main-menu {
	border-bottom: 1px solid #126590;
	width: 983px;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 2px;
}

div a {
	text-decoration: none;
	border-bottom: 1px dotted #9dc7dd;
	color: #054160;
}
div a:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}
a.noborder {
	border: 0px;
}
a.noborder:hover {
	border: 0px;
}
img {
	border: 0px;
}
table.item-desc {
	border-collapse: collapse;
}
table.item-desc tr td {
	font-size: 15px;
	padding: 4px;
	border: 1px dotted #e0eaef; 
}
table.item-desc tr td.left {
	font-weight: bold;
	background-color: #f7fafc;
}

table.item-desc tr td.prize {
	font-size: 20px;
	color: #bfa40d;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	display: inline;
}
h2.normal {
	font-size: 20px;
	font-weight: normal;
	display: block;
	padding-bottom: 0px;
}
table#catalog {
	text-align: left;
}
table#catalog td {
	text-align: left;
}
div.hard-link a {
	color: #000000;
}
table#main-bottom-tbl tr td h2 {
	display: block;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
}
table#main-foot-tbl tr td a {
	color: #ffffff;
	border-bottom-color: #444444;
}
table#main-foot-tbl tr td a:hover {
	color: #ffffff;
	border-bottom-color: #ffffff;
}
table#main-foot-tbl tr td h3 {
	margin-top: 0px;
}
.page-head {
        letter-spacing: 1px;
        padding: 2px;
        padding-bottom: 0px;
        color: #062433;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.good-reading {
	line-height: 140%;
}
th {
        background-color: #0e628e;
        font-weight: bold;
        font-size: 13px;
        padding: 3px;
        color: #ffffff;
}
.formtd {
        border: 1px solid #edcd15;
		background-color: #fef6b9;
        padding: 5px;
}
.box {
        padding: 5px;
        border: 1px solid #edcd15;
		background-color: #fef6b9;
}
.box input, .formtd input {
	background-color: #ffffff;
	padding: 3px;
	border: 1px solid #edcd15;
}